{% extends "base.html" %}

{% block content %}
    <h1>{% if event %}Edit Event{% else %}Create New Event{% endif %}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <div>
            {{ form.date.label }}
            {{ form.date }}
        </div>
        <div>
            {{ form.location.label }}
            {{ form.location }}
        </div>
        <div>
            {{ form.status.label }}
            {{ form.status }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
